/* 
    Created on : 15 de mar de 2021, 15:54:12
    Author     : Anne Caroline P. Santos, David Walter Jansen, Eike Stalei
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
}

main {
    flex-grow: 1;
}

footer{
}